.timeController {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(151, 151, 245);
    border-radius: 20px;
    box-shadow: 0px -2px 10px 1px darkseagreen inset, 0px 5px 30px -10px #000;
    padding: 30px;
}

.btnController {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.timer {
    color: #2a6f97;
    font-size: 30px;
}

button {
    margin: 5px 15px !important;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.start {
    border: 1px solid #008000;
    background-color: #70e000;
    color: #004b23;
}

.start:hover {
    background-color: #004b23;
    color: #fff;
}

.stop {
    border: 1px solid #ff9500;
    background-color: #ffff3f;
    color: #ff7b00;
}

.stop:hover {
    background-color: #ff7b00;
    color: #fff;
}

.reset {
    border: 1px solid #cb1b16;
    background-color: #f29479;
    color: #65010c;
}

.reset:hover {
    background-color: #65010c;
    color: #fff;
}