.timeController {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnController {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.title {
    display: flex;
    color: #2a6f97;
    font-size: 30px;
}

.logo {
    width: 53px;
    height: 53px;
    margin: 0px 5px;
}

.timer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #2a6f97;
    font-size: 40px;
    /* border: 5px double #1479b3;
    border-radius: 50%;
    width: 150px;
    height: 150px; */
}

button {
    margin: 10px 15px !important;
    width: 75px;
    height: 75px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    font-size: 17px;
}

.start {
    border: none;
    background-color: #8e9884;
    color: #000;
    box-shadow: 0 0 10px #585a57;
}

.start:hover {
    background-color: #72a7cc;
    color: rgb(1, 61, 164);
}

.stop {
    border: none;
    background-color: #8e9884;
    color: #000;
    box-shadow: 0 0 10px #757a70;
}

.stop:hover {
    background-color: #72a7cc;
    color: rgb(1, 61, 164);
}

.reset {
    border: none;
    background-color: #8e9884;
    color: #000;
    box-shadow: 0 0 10px #757a70;
}

.reset:hover {
    background-color: #72a7cc;
    color: rgb(1, 61, 164);
}