.timeController {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnController {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.title {
    display: flex;
    color: #2a6f97;
    font-size: 30px;
    margin-top: -50px;
}

@media screen and (max-width :630px) {
    .title {
        margin-top: 35px;
    }
}

.logo {
    width: 53px;
    height: 53px;
    margin: 0px 5px;
}

.timer {
    margin-top: 25PX;
    font-size: 50px;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgb(10 175 230 / 0%);
}

.font-eng {
    font-family: cursive, revert, sans-serif;
}

.btn {
    appearance: none;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    cursor: pointer;
    line-height: 1;
    margin: 7px 15px;
    padding: 1.2em 1.8em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}

.btn:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

@media screen and (max-width: 505px) {
    .timer {
        font-size: 35px;
    }
    .btn {
        margin: 3px 10px;
        padding: 1em 1.3em;
        font-weight: 400;
    }
}