.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

p {
    font-family: cursive;
    font-weight: bold;
    color: #ffb4a2;
    font-size: 20px;
}

.none {
    display: none;
}