.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 60px;
}

p {
    font-family: cursive, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.none {
    display: none;
}

@media screen and (max-width: 505px) {
    p {
        font-size: 13px;
    }
}