@font-face {
    font-family: "IRANYekan";
    src: url('utilies/font/IRANYekanMediumMsn.ttf');
}

.persianNo {
    font-family: "IRANYekan";
}

body {
    margin: 0;
    /* font-family: "Share Tech Mono"; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    /* font-family: "Share Tech Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
}